.title {color: green;text-align: center;}
.infobasic {color: blue;}
.nacionalidad {color: orange;}
.idiom {color: red;}
#table1 {background-color: orange;}
#table2 {background-color: green;}
#table3 {background-color: pink;}
#table4 {background-color: #0CB7F2;}
